
programs/practise/180halfpyramid.cpp
programs/practise/hollowrectangle.cpp
programs/practise/invert90degreepyramid.cpp
programs/practise/divisibleby3-5.cpp
programs/practise/180halfpyramid.cpp
programs/practise/pascalstriangle.cpp
programs/practise/rectanglepattern.cpp
programs/practise/sumofarray.cpp
programs/sumofarray.cpp
